<html layout:decorate="~{layout}">
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="/lecture-style.css">
	<!-- -->
<div layout:fragment="content" class="container">
    <h2 class="my-3 border-bottom pb-2">카테고리</h2>
    <!-- 이미지와 텍스트를 감싸는 div -->
    <div>
        <img class="youtube" id="youtubeImage" src="/spring.jpg" width="250" height="200" alt="SpringBoot">
        <h2>
            <a href="https://www.youtube.com/watch?v=rHJgMRimJ4Y&list=PLlTylS8uB2fBOi6uzvMpojFrNe7sRmlzU" style="font-size: 14px;">SPRING BOOT</a>
        </h2>
    </div>
	<div>
	    <img class="youtube" id="youtubeImage" src="/java_pic.jpg" width="250" height="200" alt="Java">
	    <h2>
	        <a href="https://www.youtube.com/watch?v=NQq0dOoEPUM&t=29s" style="font-size: 14px;">JAVA</a>
	    </h2>
	</div>
</div>
</html>
